# Compiled Object files
*.slo
*.lo
*.o
*.d
*.res

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la

# Compiled executables
CutsceneEditor
CutsceneEditor.exe

# Editor output
*.cutscene
err.log

# Resources
*.tiny3d
*.png
